// colors
$primary-white: #ffffff;
$blue-deep: #161926;
$bc: #45454b;
$gray-dark: #515773;
$secondary-spring: #85bbb1;
$text-blue: #689ff2;
$text-green-neon: #53f3cd;
$text-linear-green: linear-gradient(97deg, #53f3cd, #35f3cd);

// fonts
$common-font: "Lato"; //sans-serif
$header-font: "Playfair Display"; //sans-serif
$light-weight: 300;
$mid-weight: 400;
$heavy-weight: 700;

$border-common: 1px solid $gray-dark;
$border-hover: 1px solid $text-green-neon;
