$primary-dark-blue: #262a3f; // $primary-white: #ffffff;
$blue-deep: #161926;
$bc: #45454b;
$gray-dark: #515773;
$secondary-spring: #85bbb1;
$text-green: #85bbb1; // $text-blue: #689ff2;
$text-red: #f1897b; // $text-green-neon: #53f3cd;
