.video-sec {
  @include size-bc(970px, 100%, fit-content, unset);
  @include sec-marg(120px auto 0 auto);
  @include position(relative, 1);
  .video {
    border: $border-common;
    border-radius: 32px;
    padding: 31px 70px 31px 30px;
    &:hover {
      border: $border-hover;
    }
    img {
      &:not(:first-child) {
        @include position(absolute, 1);
      }
      &:nth-of-type(2) {
        top: 240px;
        right: 460px;
        &:hover {
          scale: 1.2;
        }
      }
      &:nth-of-type(3) {
        top: 283px;
        right: 14px;
      }
      &:nth-of-type(4) {
        top: 294px;
        left: 8px;
      }
    }
  }
  h4 {
    @include size-bc(unset, 897px, 54px, unset);
    margin-bottom: 20px;
  }
}
