@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital@0;1&family=Source+Sans+3&display=swap");

@layer base {
  * {
    @apply scroll-smooth;
  }

  h1,
  h2,
  h3 {
    @apply font-[Montserrat];
  }

  p {
    @apply font-[Open-Sans];
  }

  .location {
    @apply font-[Open-Sans] italic;
  }
}

#aboutUs {
  div.swiper-pagination.swiper-pagination {
    @apply mt-4 flex flex-col justify-center gap-y-4 md:gap-y-8;
  }

  span.swiper-pagination-bullet {
    @apply border border-white bg-transparent opacity-100 transition-all;
    &:hover {
      @apply scale-150;
    }
  }

  span.swiper-pagination-bullet-active {
    @apply scale-150 bg-white;
  }

  div.swiper-button-prev {
    @apply hidden;
  }
  div.swiper-button-next {
    @apply right-[47%] top-[95vh] hidden rounded-full border px-5 text-white shadow-xl transition-all sm:flex md:right-[47.5%] lg:right-[48%];
    &::after {
      @apply mr-[1px] rotate-90 text-[14px];
    }
    &:hover {
      @apply scale-110;
    }
  }
}

#news {
  div.swiper-pagination.swiper-pagination {
    @apply mt-10 flex justify-center gap-x-4;
  }

  span.swiper-pagination-bullet {
    @apply border border-white bg-transparent opacity-100 transition-all;
    &:hover {
      @apply scale-150;
    }
  }

  span.swiper-pagination-bullet-active {
    @apply scale-150 bg-white;
  }

  div.swiper-button-prev,
  div.swiper-button-next {
    @apply hidden rounded-full border px-5 text-white shadow-xl transition-all md:flex;
    &::after {
      @apply text-[14px];
    }
    &:hover {
      @apply scale-110;
    }
  }
}

@layer components {
  div.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "img1 img1 img2 img3"
      "img1 img1 img4 img5";
    img {
      &:nth-of-type(1) {
        grid-area: img1;
      }
      &:nth-of-type(2) {
        grid-area: img2;
      }
      &:nth-of-type(3) {
        grid-area: img3;
      }
      &:nth-of-type(4) {
        grid-area: img4;
      }
      &:nth-of-type(5) {
        grid-area: img5;
      }
    }
  }
}

#footer {
  form {
    input.input {
      border-bottom: 1px solid hsla(213, 33%, 26%, 1);
      @apply focus:border-white;
    }
  }
}
