* {
    transition: all 0.3s linear;
}
.zone {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0 5px 15px, inset rgba(0,0,0,0.15) 0 -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0 5px 15px, inset rgba(0,0,0,0.15) 0 -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0 5px 15px, inset rgba(0,0,0,0.15) 0 -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0 5px 15px, inset rgba(0,0,0,0.15) 0 -10px 20px;
}
/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}
/***********************************************************************
 *  Red Background
 **********************************************************************/
.red {
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}
/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow {
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
}
/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue {
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
header .main-links a, header .contact a {
    text-decoration: none;
    color: white;
}
header .main-links {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}
header .contact {
    margin-right: 4rem;
}
/*main*/
main .red {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .blue {
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: "item1 item2 item3 item4"
                         "item5 item6 item7 item8";
}
main .blue img {
    height: 100px;
}
.blue > * {
    background: #484848;
    border: 2px solid #9d9d9d;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue > *:hover {
    transform: translateY(-1rem);
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
/*footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
/*media*/
@media (max-width: 1024px) {
    main .blue {
        padding: 2rem;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas: "item1 item2"
                             "item3 item4"
                             "item5 item6"
                             "item7 item8";
    }
}
@media (max-width: 780px) {
    main .blue {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .blue > * {
        padding: 2rem 0;
    }
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
}

